# Introduction:

The dataset for further analysis is customer service log from a certain company.

# The questions about this dataset:

How many channels are typically required for a single call? 

Can you provide a range for the duration of calls? 

Are there specific trends describing whether calls are solved? 

Which channels should we prioritize for improvement? 

How should we measure the success of future improvement?

In [1]:
# Import the required library
import pandas as pd

In [2]:
# Load the csv file and convert it to be a pandas dataframe and print out the head
df = pd.read_csv("call_logging.csv")
df.head()

           time  is_solved  userId channelName
0  1.556374e+09          0   26643   channel_0
1  1.546934e+09          0  636656   channel_1
2  1.544429e+09          0  485014   channel_2
3  1.547461e+09          0  772798   channel_1
4  1.546843e+09          0  877701   channel_3

In [3]:
# Check the rows and columns of this dataset
df.shape

(14772712, 4)

In [4]:
# Check datatypes 
df.dtypes

time           float64
is_solved        int64
userId           int64
channelName     object
dtype: object

In [5]:
# Check each columns number of unique values 
df.nunique()

time           7929452
is_solved            2
userId         1000976
channelName         23
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14772712 entries, 0 to 14772711
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   time         float64
 1   is_solved    int64
 2   userId       int64
 3   channelName  object
dtypes: float64(1), int64(2), object(1)
memory usage: 450.8+ MB

In [7]:
# Check null values in each column
df.isnull().sum()

time           146601
is_solved           0
userId              0
channelName    219224
dtype: int64

In [8]:
# Drop all rows with all NaN and NaT values in "channelName" and "time" columns
filt = df[(df["channelName"].isnull()) & (df["time"].isnull())].index
df1 = df.drop(filt).reset_index().drop("index", axis=1)

In [17]:
# Confirm the deletion
df1.isnull().sum()

time           143380
is_solved           0
userId              0
channelName    216003
dtype: int64

In [18]:
# Check if there are some duplicates 
df1.head(50)

            time  is_solved  userId channelName
0   1.556374e+09          0   26643   channel_0
1   1.546934e+09          0  636656   channel_1
2   1.544429e+09          0  485014   channel_2
3   1.547461e+09          0  772798   channel_1
4   1.546843e+09          0  877701   channel_3
5   1.556544e+09          0  654218   channel_4
6   1.555599e+09          0  985674   channel_3
7   1.544174e+09          0  667681   channel_5
8   1.553706e+09          0  124851   channel_5
9   1.545222e+09          0  679094   channel_6
10  1.546513e+09          0  920437   channel_0
11  1.544865e+09          0  355940   channel_3
12  1.544876e+09          0  234963   channel_1
13  1.555071e+09          0  792789   channel_7
14  1.547994e+09          0  966523   channel_7
15  1.553273e+09          0  957120   channel_8
16  1.548876e+09          0  644587   channel_6
17  1.553790e+09          0  103831   channel_3
18  1.553072e+09          0  312216   channel_9
19  1.553569e+09          0  829140   channel_9
20  1.546183e+09          0  922583   channel_3
21  1.546410e+09          0  692163   channel_5
22  1.550650e+09          0   53079  channel_10
23  1.548133e+09          0  493415  channel_11
24  1.553094e+09          0  420564   channel_3
25  1.543806e+09          0  959371   channel_7
26  1.551498e+09          0  290602   channel_1
27  1.548005e+09          0  643767   channel_0
28  1.547526e+09          0  447444   channel_0
29  1.553232e+09          0  924218   channel_5
30  1.555841e+09          0  510000   channel_6
31  1.546748e+09          0  157633   channel_1
32  1.555383e+09          0  612406   channel_3
33  1.556216e+09          0  249816   channel_5
34  1.554907e+09          0  581846   channel_6
35  1.549222e+09          0  543102  channel_11
36  1.547469e+09          0  472880   channel_6
37  1.556020e+09          0  266659   channel_3
38  1.553017e+09          0  726061   channel_3
39  1.554858e+09          0  949094  channel_11
40  1.547709e+09          1  189834  channel_12
41  1.551968e+09          1   17937   channel_0
42  1.544037e+09          0  555339   channel_5
43  1.550395e+09          0  832114   channel_1
44  1.549828e+09          0  791744   channel_1
45  1.547244e+09          0  729526   channel_1
46  1.548311e+09          1  770188   channel_9
47  1.551432e+09          0  612011  channel_11
48  1.552530e+09          0  847535   channel_3
49  1.550667e+09          0  244233   channel_7

#### How many channels are typically required for a single call?

In [4]:
# Count the channels used for each customer
# Deactivate multiindexing for easier use
channels_used = df.groupby(["userId"], as_index=False)["channelName"].value_counts()
channels_used

           userId channelName  count
0               1   channel_5      4
1               1   channel_3      2
2               1   channel_0      1
3               1   channel_4      1
4               1   channel_2      1
...           ...         ...    ...
7050162  10001000  channel_19     23
7050163  10001000  channel_15     19
7050164  10001000  channel_18     13
7050165  10001000  channel_21      9
7050166  10001000  channel_20      2

[7050167 rows x 3 columns]

Count how many channels that were used only once for each customer

In [5]:
counts_of_channels_used_only_once = channels_used.groupby(["userId"]).sum()
counts_of_channels_used_only_once

/tmp/ipykernel_787/2547329823.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  counts_of_channels_used_only_once = channels_used.groupby(["userId"]).sum()

          count
userId
1            14
2             6
3            15
4            12
5            15
...         ...
10000996   3711
10000997   3712
10000998   3690
10000999   3665
10001000   3672

[1000971 rows x 1 columns]

Convert groupby series to dataframe and reset the index

In [6]:
user_df = pd.DataFrame(counts_of_channels_used_only_once).reset_index()
user_df

           userId  count
0               1     14
1               2      6
2               3     15
3               4     12
4               5     15
...           ...    ...
1000966  10000996   3711
1000967  10000997   3712
1000968  10000998   3690
1000969  10000999   3665
1000970  10001000   3672

[1000971 rows x 2 columns]

Rename the "count" column

In [7]:
user_df.rename(columns={"count": "counts_of_channels_used_only_once"}, inplace=True)

Use arithmetic mean to find the typical channels required for a single call

In [8]:
channels_typically_required_for_a_single_call = int(user_df["counts_of_channels_used_only_once"].mean(numeric_only=True).round())
channels_typically_required_for_a_single_call

15

#### Can you provide a range for the duration of calls?

In [15]:
df["time"].min()

Timestamp('2018-11-30 17:00:00')

In [17]:
df["time"].max()

Timestamp('2019-04-30 16:59:58')

In [18]:
df["time"].max() - df["time"].min()

Timedelta('150 days 23:59:58')

In [23]:
df.loc[df["time"] <= "2019"]

                        time  is_solved    userId channelName
2        2018-12-10 08:08:49          0    485014   channel_2
7        2018-12-07 09:16:41          0    667681   channel_5
9        2018-12-19 12:27:11          0    679094   channel_6
11       2018-12-15 09:09:14          0    355940   channel_3
12       2018-12-15 12:21:06          0    234963   channel_1
...                      ...        ...       ...         ...
14772636 2018-12-27 04:58:51          1  10000818   channel_8
14772646 2018-12-27 15:15:20          1  10000050   channel_9
14772649 2018-12-12 11:31:50          0  10000324   channel_7
14772654 2018-12-08 08:23:53          0  10000415   channel_7
14772655 2018-12-10 07:18:27          0  10000215   channel_6

[3113046 rows x 4 columns]

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14772712 entries, 1285571 to 9999989
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   time         datetime64[ns]
 1   is_solved    int64
 2   userId       int64
 3   channelName  object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 563.5+ MB