### Import the required library

In [4]:
import pandas as pd

### Load the csv file and convert it to be a pandas dataframe
### Convert the POSIX format to datetime format

In [5]:
df = pd.read_csv("call_logging.csv")
df["time"] = pd.to_datetime(df["time"], unit="s")

#### How many channels are typically required for a single call?

Count the channels used for each customer
Deactivate multiindexing for easier use

In [6]:
channels_used = df.groupby(["userId"], as_index=False)["channelName"].value_counts()
channels_used

           userId channelName  count
0               1   channel_5      4
1               1   channel_3      2
2               1   channel_0      1
3               1   channel_4      1
4               1   channel_2      1
...           ...         ...    ...
7050162  10001000  channel_19     23
7050163  10001000  channel_15     19
7050164  10001000  channel_18     13
7050165  10001000  channel_21      9
7050166  10001000  channel_20      2

[7050167 rows x 3 columns]

Count how many channels that were used only once for each customer

In [7]:
counts_of_channels_used_only_once = channels_used.groupby(["userId"]).sum()
counts_of_channels_used_only_once

/tmp/ipykernel_411/2547329823.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  counts_of_channels_used_only_once = channels_used.groupby(["userId"]).sum()

          count
userId
1            14
2             6
3            15
4            12
5            15
...         ...
10000996   3711
10000997   3712
10000998   3690
10000999   3665
10001000   3672

[1000971 rows x 1 columns]

Convert groupby series to dataframe and reset the index

In [8]:
user_df = pd.DataFrame(counts_of_channels_used_only_once).reset_index()
user_df

           userId  count
0               1     14
1               2      6
2               3     15
3               4     12
4               5     15
...           ...    ...
1000966  10000996   3711
1000967  10000997   3712
1000968  10000998   3690
1000969  10000999   3665
1000970  10001000   3672

[1000971 rows x 2 columns]

Rename the "count" column

In [9]:
user_df.rename(columns={"count": "counts_of_channels_used_only_once"}, inplace=True)

Use arithmetic mean to find the typical channels required for a single call

In [10]:
channels_typically_required_for_a_single_call = int(user_df["counts_of_channels_used_only_once"].mean(numeric_only=True).round())
channels_typically_required_for_a_single_call

15

#### Can you provide a range for the duration of calls?